KAFKA_TOPIC=app-logs
KAFKA_PARTITIONS=3
LOG_RATE_PER_SEC=20
SERVICE_NAMES=checkout,inventory,payments,shipping,auth,search

ES_JAVA_OPTS=-Xms1g -Xmx1g
ES_RAW_INDEX=logs-raw
ES_METRICS_INDEX=logs-metrics-1m
ES_SUMMARY_INDEX=logs-daily-summary
RETENTION_DAYS=14

SPARK_WORKER_MEMORY=2g
SPARK_WORKER_CORES=2

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

AIRFLOW_UID=50000
