# Rendered by deploy.sh -> /etc/backstage-portal/data.env (0600 root)
POSTGRES_USER=pgadmin
POSTGRES_PASSWORD=${PG_SUPER_PASSWORD}
POSTGRES_DB=postgres
PGPASSWORD=${PG_SUPER_PASSWORD}
BACKSTAGE_DB_BOOTSTRAP_PASSWORD=${BOOTSTRAP_DB_PASSWORD}
KEYCLOAK_DB_PASSWORD=${KC_DB_PASSWORD}
BOUNDARY_DB_PASSWORD=${BOUNDARY_PG_PASSWORD}
