{
  "openapi": "3.0.3",
  "info": {
    "title": "Grafana API",
    "version": "1.0.0",
    "description": "Minimal OpenAPI specification for Grafana API secured by Wallarm"
  },
  "servers": [
    {
      "url": "https://grafana.io/api"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Check Grafana health",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Health check successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "database": { "type": "string" },
                    "version": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dashboards": {
      "get": {
        "summary": "List dashboards",
        "operationId": "listDashboards",
        "responses": {
          "200": {
            "description": "List of dashboards",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "integer" },
                      "uid": { "type": "string" },
                      "title": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/datasources": {
      "get": {
        "summary": "List data sources",
        "operationId": "listDataSources",
        "responses": {
          "200": {
            "description": "List of data sources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "integer" },
                      "name": { "type": "string" },
                      "type": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}