# {{ ansible_managed }}
DEFGUARD_DB_HOST=defguard-db
DEFGUARD_DB_PORT=5432
DEFGUARD_DB_NAME=defguard
DEFGUARD_DB_USER=defguard
DEFGUARD_DB_PASSWORD={{ db_password }}
DEFGUARD_AUTH_SECRET={{ auth_secret }}
DEFGUARD_GATEWAY_SECRET={{ gateway_secret }}
DEFGUARD_YUBIBRIDGE_SECRET={{ yubi_secret }}
DEFGUARD_SECRET_KEY={{ core_secret_key }}
DEFGUARD_DEFAULT_ADMIN_PASSWORD={{ admin_password }}
DEFGUARD_URL=http://{{ bind_addr }}:{{ core_http_port }}
DEFGUARD_COOKIE_DOMAIN=localhost
DEFGUARD_COOKIE_INSECURE=true
DEFGUARD_GRPC_TLS=false
DEFGUARD_LOG_LEVEL=info
